/* 전체 페이지 스타일링 */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

/* 탭 컨테이너 스타일 */
.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #d4eed6;
}

/* 탭 버튼 스타일 */
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 8px 10px;
    transition: 0.3s;
    font-size: 14px;
}

/* 탭 버튼 - 마우스 호버 상태 */
.tab button:hover {
    background-color: #6ab16d;
}

/* 탭 버튼 - 활성화 상태 */
.tab button.active {
    background-color: #4CAF50;
}

/* 탭 컨텐츠 기본 스타일 */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ffffff;
    border-top: none;
    animation: fadeEffect 0.5s; /* 컨텐츠 변경 시 페이드 효과 */
}

.tablinks.active, .tablinks:hover {
    background-color: #ddd; /* 활성화 또는 호버 상태의 배경 색상 */
}

/* 페이드 효과 애니메이션 */
@keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}

/* 로그인 및 입력 폼 컨테이너 스타일링 */
#loginContainer, #workLogFormContainer, .tabcontent {
    max-width: 600px;
    margin: 30px auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

/* 폼 내부 요소 스타일링 */
form div {
    margin-bottom: 15px;
}

form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"], input[type="password"], input[type="date"], input[type="time"], select, textarea {
    width: 100%;
    padding: 8px;
    margin: 5px 0 10px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
}

/* 버튼 기본 스타일링 */
button {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 9px 14px;
    margin: 5px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
}

button:hover {
    background-color: #45a049;
}

#userSkillGraphContainer {
    width: 100%; /* 그래프 컨테이너 너비 조정 */
    background: #fff;
    border: 1px solid #ccc;
    height: 20px; /* 그래프 높이 */
    margin-bottom: 20px; /* 그래프 아래 마진 추가 */
    border-radius: 5px;
}

#userSkillGraph {
    height: 100%;
    background-color: #4caf50; /* 그래프 색상 */
    width: 0%; /* 초기 그래프 길이, JavaScript로 동적 변경 예정 */
}

.additionalOption {
    background-color: #f0f0f0; /* 연한 회색 배경 */
    border: 1px solid #ccc; /* 경계선 설정 */
    padding: 10px; /* 안쪽 여백 */
    margin-top: 10px; /* 위쪽 여백 */
    border-radius: 5px; /* 모서리 둥글게 */
}

.additionalOption label {
    display: block; /* 라벨을 블록 요소로 설정 */
    font-weight: bold; /* 글씨 굵게 */
    margin-bottom: 5px; /* 라벨과 선택 상자 사이의 간격 */
}

.additionalOption select {
    width: 100%; /* 전체 너비 사용 */
    padding: 8px; /* 편안한 패딩 */
    border: 1px solid #aaa; /* 경계선 스타일 */
    border-radius: 4px; /* 모서리 둥글게 */
}

.buttonContainer {
    display: flex; /* flex 레이아웃 적용 */
    align-items: center; /* 버튼들을 세로 방향으로 가운데 정렬 */
}

.smallButton {
    padding: 2px 5px; /* 버튼의 내부 여백 줄임 */
    font-size: 8px; /* 폰트 크기 줄임 */
    margin-left: 5px; /* 버튼 사이의 여백 */
    cursor: pointer; /* 마우스 오버 시 커서 변경 */
    border-radius: 4px; /* 버튼 모서리 둥글게 */
    border: 1px solid #ccc; /* 버튼 경계선 */
    background-color: #f9f9f9; /* 배경색 */
    color: #333; /* 글자색 */
    margin: 4 2px; /* 좌우 여백 조정 */
}

.smallButton:hover {
    background-color: #e0e0e0; /* 호버 상태의 배경색 */
    border-color: #adadad; /* 호버 상태의 경계선 색 */
}

.smallButton {
    /* 기존 스타일 */
    transition: background-color 0.3s, border-color 0.3s; /* 배경색과 경계선 색 변경에 애니메이션 적용 */
}

/* 작업 이력 표시 스타일 */
.history-item {
    margin-bottom: 20px;
    padding: 10px;
    background-color: #f9f9f9;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.history-item h3 {
    font-size: 16px;
    color: #333;
}

.history-item p {
    font-size: 14px;
    color: #666;
}

.deleteLogButton {
    font-size: 16px; /* 글자 크기 조정 */
    color: #555; /* 글자 색상을 어두운 회색으로 */
    padding: 5px 8px; /* 내부 여백 조정 */
    cursor: pointer; /* 커서를 포인터 모양으로 변경 */
    border: 1px solid #ccc; /* 경계선을 회색으로 */
    background-color: #f0f0f0; /* 배경색을 연한 회색으로 */
    transition: background-color 0.2s, color 0.2s; /* 색상 변경에 애니메이션 효과 적용 */
}

.deleteLogButton:hover {
    background-color: #e0e0e0; /* 호버 시 배경색을 조금 더 어두운 회색으로 변경 */
    color: #333; /* 호버 시 글자 색상을 더 어둡게 */
}

.input-group {
    margin-bottom: 20px;
    padding: 10px;
    background-color: #f5f5f5;
    border-radius: 5px;
}

.input-group h3 {
    margin-bottom: 10px;
}

/* 필요한 경우 추가적인 스타일링 */

/* 모바일 화면과 태블릿을 위한 기본 스타일 */
@media screen and (max-width: 768px) {
    body {
        font-size: 14px;
    }

    .tab button {
        padding: 10px 12px;
        font-size: 14px;
    }

    input[type="text"], input[type="password"], input[type="date"], input[type="time"], select, textarea {
        font-size: 14px;
    }

    button {
        padding: 10px 15px;
        font-size: 14px;
    }

    .input-group h3 {
        font-size: 16px;
    }

    /* 탭과 관련된 스타일 */
    .tab {
        display: flex;
        flex-direction: column;
    }

    .tabcontent, #loginContainer, #workLogFormContainer {
        padding: 15px;
    }
}

/* 매우 작은 화면(주로 스마트폰)을 위한 스타일 */
@media screen and (max-width: 480px) {
    .tab button {
        font-size: 12px;
    }

    .input-group, .buttonContainer {
        flex-direction: column;
    }

    button, input[type="text"], input[type="password"], input[type="date"], input[type="time"], select, textarea {
        width: 100%;
    }
}

.field-container {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.field-input {
    width: 100%; /* 전체 너비를 사용하도록 조정 */
    box-sizing: border-box; /* 패딩과 테두리가 너비에 포함되도록 설정 */
    margin-right: 10px; /* "+" 버튼과의 간격 유지 */
}

.add-remove-buttons {
    flex-shrink: 0; /* 버튼 컨테이너가 축소되지 않도록 설정 */
}

.button {
    display: inline-flex; /* Flexbox를 사용하여 내용을 중앙에 정렬 */
    align-items: center; /* 세로축 중앙 정렬 */
    justify-content: center; /* 가로축 중앙 정렬 */
    width: 30px; /* 버튼의 너비 */
    height: 30px; /* 버튼의 높이 */
    padding: 0; /* 내부 여백 제거 */
    font-size: 16px; /* 기호의 크기를 조절 */
    margin-left: 5px; /* 버튼 사이의 간격 */
    cursor: pointer; /* 마우스 오버 시 커서 변경 */
    text-align: center; /* 텍스트 중앙 정렬 */
    border: 1px solid #ccc; /* 경계선 스타일 */
    background-color: #45a049;
    border-radius: 5px; /* 모서리 둥글게 */
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2); /* 그림자 효과 */
}

.button:hover {
    background-color: #e0e0e0; /* 버튼 호버 시 배경색 변경 */
}

/* 추가적인 스타일링이 필요할 수 있음 */

.history-details {
    display: none; /* 기본적으로 세부 정보는 숨겨져 있습니다. */
}

.history-summary {
    display: flex;
    flex-direction: column; /* 내용을 세로로 나열 */
    align-items: flex-start; /* 내용을 왼쪽 정렬 */
}

.history-summary p {
    margin-top: 5px; /* 위쪽 마진 축소 */
    margin-bottom: 5px; /* 아래쪽 마진 축소 */
}

.history-summary button.detailsToggle {
    font-size: 16px; /* 화살표의 텍스트 크기를 줄임 */
    color: #ffffff; /* 화살표 색상은 흰색 유지 */
    background-color: #4CAF50; /* 버튼 배경색은 초록색 유지 */
    cursor: pointer; /* 커서는 포인터 모양 유지 */
    border: none; /* 테두리 없음 */
    padding: 5px 10px; /* 패딩을 줄여서 버튼 크기 감소 */
    border-radius: 5px; /* 버튼 모서리 둥글게 */
    transition: background-color 0.3s ease; /* 배경색 변경 시 애니메이션 효과 */
}
.history-summary button.detailsToggle:hover {
    background-color: #45a049; /* 마우스 오버 시 배경색 변경 */
}
.history-summary button.detailsToggle.rotated {
    transform: rotate(180deg); /* 버튼 클릭 시 화살표 방향 전환 */
}

.field-container {
    margin-bottom: 1px;
}

.field-input {
    width: 90%;
    min-height: 50px;
    resize: none;
    padding: 8px;
    box-sizing: border-box;
}

.add-remove-buttons {
    display: inline-block;
    vertical-align: top;
}

.add-remove-buttons button {
    width: 30px;
    height: 30px;
    margin-left: 5px;
    padding: 0;
    font-size: 16px;
    line-height: 30px;
}

/* 기존 스타일시트에 추가 */
.field-container button {
    width: 30px; /* 버튼의 너비 조정 */
    height: 30px; /* 버튼의 높이 조정 */
    margin-left: 10px; /* 버튼 왼쪽 여백 조정 */
    padding: 0; /* 내부 패딩 제거 */
    font-size: 16px; /* 버튼 내 텍스트 크기 */
    line-height: 30px; /* 버튼 내 텍스트 라인 높이 조정 */
    vertical-align: top; /* 버튼을 텍스트와 같은 라인에 정렬 */
}

.field-container textarea {
    width: calc(100% - 40px); /* 버튼 너비 만큼 텍스트 영역 너비 감소 */
    display: inline-block; /* 인라인 블록 요소로 표시 */
}

.creator-signature {
    font-size: 12px; /* 글씨 크기를 12px로 설정 */
    color: #666; /* 글씨 색상을 어두운 회색으로 설정 */
    margin-top: 10px; /* 위쪽 여백 설정 */
    text-align: center; /* 텍스트 중앙 정렬 */
}

#todayWorkDetails, #dateRangeWorkDetails {
    border: 1px solid #ccc;
    padding: 10px;
    margin-top: 10px;
    background-color: #f9f9f9;
}

#todayWorkDetails h3, #dateRangeWorkDetails h3 {
    color: #333;
}

.tabcontent {
    padding: 20px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
}

.date-picker-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    margin-top: 20px;
}

.date-picker-container label {
    margin-right: 15px;  /* 레이블 간의 간격 */
}

.date-picker-container button {
    margin-left:150px;  /* 버튼과 날짜 선택기 사이의 간격 */
}

.user-details {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: #e9ecef;
    padding: 10px;
    border-radius: 5px;
    margin-top: 10px;
}

.user-detail {
    margin-bottom: 10px; /* 각 정보 사이에 공간 추가 */
}

#dateRangeWorkDetails p {
    font-size: 16px; /* 기본 폰트 크기 */
}

#totalHours, #totalCount {
    font-size: 15px; /* 특정 텍스트의 폰트 크기 증가 */
    font-weight: bold; /* 폰트 두께 강조 */
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes fadeOut {
    from { opacity: 1; }
    to { opacity: 0; }
}

.field-container {
    animation: fadeIn 0.5s;
}

.field-container.fade-out {
    animation: fadeOut 0.5s;
}

